<!DOCTYPE html>
<html>
    <head>
        <title>MongoDB</title>
        <link rel="stylesheet" type=" text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.css">
        <link rel="stylesheet" type=" text/css" href="/stylesheets/app.css">
        
    </head>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item">MongoDB</div>
            <a href="/" class="item"><i class="home icon"></i>Explore</a>
            <a href="/blogs/new" class="item"><i class="pencil icon"></i>Create</a>
            <a href="/" class="item"><i class="lock icon"></i>Log in</a>
            
        </div>
          
    </div>
    
    <body>